<!DOCTYPE html>
<html lang="en" id="html">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Software BSV</title>
	<!-- Boostrap Core -->
	<link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/style.css' %}">
	<link rel="icon"       href="{% static '../static/images/minilogo.png' %}" />
</head>
<body>

	{% include './menu.html' %}

	{% include './emailContact.html' %}

	{% include './slider.html' %}
	
	{% include './about.html' %}

	{% include './services.html' %}

	{% include './projects.html' %}

	{% include './clients.html' %}

	{% include './contact.html' %}

	{% include './footer.html' %}

	
	<a href="#" class="scrollToTop"><!-- <img src="../static/images/arrow_up.png" alt=""> --></a>
	
</body>


<!-- scripts -->
	<script src="../static/js/jquery-3.1.1.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/myscrollto.js"></script>	
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/custom.js"></script>
	
</html>