<!DOCTYPE html>
<html lang="en" id="html">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Login</title>
	<!-- Boostrap Core -->
	<link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/style.css' %}">
	<link rel="icon" href="{% static '/../static/images/minilogo.png' %}" />
</head>
<body class="login">
	

	{% include './backendMenuLogin.html' %}

	<div class="container login-div">
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }} red"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
		
		<form class="login-table" action="/sessions/create" method="post">
			{% csrf_token %}
			<h1 class="login-title">Login</h1>
			<table class="table table-striped table-dark">
				<tr>
					<td>Email:</td>
					<td><input type="text" name="email_address"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr><td colspan="2"><input class="login-button" type="submit" value="Login"></td></tr>
			</table>
			
		</form>
		<p class="login-welcome">
				{% if request.session.language == "english" %}
				    Welcome!
				{% else %}
				    Bienvenido!
				{% endif %}		
		</p>
	</div>
</body>
</html>