<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
	  <div class="container">
		   <div class="row row2">
		  		<div class="col-md-12">
		  			<div class="navbar-header custom-header-top">	
						<img class="phone" src="/../static/images/white-phone.png" alt="phone">
		  				+58.212.952.38.80
		  				| Lan: 
		  				{% if services %}
		  				<a href="/language/spanish/services/0"><img class="flag" src="/../static/images/venezuela.png" alt="flag"></a>
						&nbsp;
		  				<a href="/language/english/services/0"><img class="flag" src="/../static/images/usa.png" alt="flag"></a>
		  				{% endif %}

		  				{% if clients %}
		  				<a href="/language/spanish/clients/0"><img class="flag" src="/../static/images/venezuela.png" alt="flag"></a>
						&nbsp;
		  				<a href="/language/english/clients/0"><img class="flag" src="/../static/images/usa.png" alt="flag"></a>

		  				{% endif %}

		  				{% if projects %}
		  				<a href="/language/spanish/projects/0"><img class="flag" src="/../static/images/venezuela.png" alt="flag"></a>
						&nbsp;
		  				<a href="/language/english/projects/0"><img class="flag" src="/../static/images/usa.png" alt="flag"></a>

		  				{% endif %}

		  				{% if contact %}
		  				<a href="/language/spanish/contact/0"><img class="flag" src="/../static/images/venezuela.png" alt="flag"></a>
						&nbsp;
		  				<a href="/language/english/contact/0"><img class="flag" src="/../static/images/usa.png" alt="flag"></a>

		  				{% endif %}
		  			</div>
		  		</div>
		  	</div> 
	  
		  	<div class="row row2">
		  		<div class="col-md-12">
		  			<div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="/main">
				      	<div class="logoHeader">	
				      		Software BSV <br>
				      		<p class="logoinner">
				      			{% if request.session.language == "english" %}
				      				I.T. Consulting
				      			{% else %}
									Consultoria de Sistemas
				      			{% endif %}
				      		
				      		</p>

				      	</div>
				      </a>
		    		</div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right custom-header">
				    	<li><a href="/"     class="page-scroll">Home</a></li>
				      {% if request.session.language == "english" %}
				        <li><a href="/services/0/show"    class="page-scroll">Services</a></li>
				        <li><a href="/projects/0/show"    class="page-scroll">Projects</a></li>
				        <li><a href="/clients/0/show"  class="page-scroll">Clients</a></li>
				        <li><a href="/contact/show"   class="page-scroll">Contact</a></li>
				        
				        {% else %}
				        <li><a href="/services/0/show"    class="page-scroll">Servicios</a></li>
				        <li><a href="/projects/0/show"    class="page-scroll">Proyectos</a></li>
				        <li><a href="/clients/0/show"  class="page-scroll">Clientes</a></li>
				        <li><a href="/contact/show"   class="page-scroll">Contacto</a></li>
				        
				        {% endif %}
				       </ul>
			    </div><!-- /.navbar-collapse -->
		  	</div>
		  	</div>
	  </div><!-- /.container-fluid -->
	</nav>


