<!DOCTYPE html>
<html lang="en" id="html">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Software BSV - Proyectos</title>
		<!-- Boostrap Core -->
	<link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/style.css' %}">
	<link rel="stylesheet" href="{% static '../static/backendstyle.css' %}">
	<link rel="icon" href="{% static '/../static/images/minilogo.png' %}" />
</head>
<body class="backend">

	{% include './backendMenu.html' %}

	<div class="container about-div">
		
		<h1 class="about-title">Editar Proyecto</h1>
		<a class="new"  href="/projects/">Volver a Proyectos</a>

			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }} red"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
		<form action="/projects/{{project.id}}/update" method="post">
			{% csrf_token %}
			<table class="about-table">
				<tr>
					<td class="about-table-title">Idioma:</td>
					<td class="about-table-content">
						<select name="language" id="language">
							<option {% if project.language == "spanish" %} selected="selected" {%endif%} value="spanish">Espanol</option>
							<option {% if project.language == "english" %} selected="selected"{%endif%} value="english">Ingles</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Cliente:</td>
					<td class="about-table-content">
					
						<select name="client" id="client">
							<option value="">--Seleccione un Cliente--</option>
							{% for client in clients2 %}
								<option {% if project.client_id == client.id %}selected="selected"{%endif%} value="{{client.id}}">{{client.name}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Nombre:</td>
					<td class="about-table-content"><input type="text" name="name"  maxlength="255" value="{{project.name}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Nombre Corto:</td>
					<td class="about-table-content"><input type="text" name="nameShort"  maxlength="255" value="{{project.nameShort}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Nombre Largo:</td>
					<td class="about-table-content"><input type="text" name="nameLarge"  maxlength="255" value="{{project.nameLarge}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Estatus del Proyecto:</td>
					<td class="about-table-content"><input type="text" name="projectsStatus"  maxlength="255" value="{{project.projectsStatus}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Posicion:</td>
					<td class="about-table-content"><input type="number" name="position"  maxlength="3"  value="{{project.position}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Cantidad de Horas:</td>
					<td class="about-table-content"><input type="number" name="hours"  maxlength="10"   value="{{project.hours}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Featured:</td>
					<td class="about-table-content">
						<select name="featured" id="featured">
							<option {% if project.featured %}selected="selected" {% endif %} value="True">True</option>
							<option {% if project.featured == False %}selected="selected" {% endif %} value="False">False</option>
						</select>
					</td>
				</tr>
		
				<tr>
					<td class="about-table-title">Estatus:</td>
					<td class="about-table-content">
						<select name="active" id="active">
							<option {% if project.active == True %}selected="selected" {% endif %} value="True">Activo</option>
							<option {% if project.active == False %}selected="selected" {% endif %} value="False">Inactivo</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Link Estatus:</td>
					<td class="about-table-content">
						<select name="linkstatus" id="linkstatus">
							<option {% if project.linkstatus == True %}selected="selected" {% endif %} value="True">Activo</option>
							<option {% if project.linkstatus == False %}selected="selected" {% endif %} value="False">Inactivo</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Imagen Carrousel:</td>
					<td class="about-table-content"><input type="text" name="imageSlider"  maxlength="255"  value="{{project.imageSlider}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Imagen Menu:</td>
					<td class="about-table-content"><input type="text" name="imageMenu"  maxlength="255"  value="{{project.imageMenu}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Imagen Details1:</td>
					<td class="about-table-content"><input type="text" name="imageDetails1"  maxlength="255"  value="{{project.imageDetails1}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Imagen Details2:</td>
					<td class="about-table-content"><input type="text" name="imageDetails2"  maxlength="255"  value="{{project.imageDetails2}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Imagen Details3:</td>
					<td class="about-table-content"><input type="text" name="imageDetails3"  maxlength="255" value="{{project.imageDetails3}}"></td>
				</tr>
				<tr>
					<td class="about-table-title">Contenido Menu:</td>
					<td class="about-table-content">
						<textarea name="descShort" id="" cols="30" rows="10" maxlength="255">{{project.descShort}}</textarea>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Contenido Detalle:</td>
					<td class="about-table-content">
						<textarea name="descLong" id="" cols="30" rows="10" maxlength="5000">{{project.descLong}}</textarea>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Plataforma:</td>
					<td class="about-table-content">
						<textarea name="platform" id="" cols="30" rows="10" maxlength="5000">{{project.platform}}</textarea>
					</td>
				</tr>
				<tr>
					<td class="about-table-title">Tecnologias:</td>
					<td class="about-table-content">
						<textarea name="technologies" id="" cols="30" rows="10" maxlength="5000">{{project.technologies}}</textarea>
					</td>
				</tr>
				
				<tr>
					<td colspan="2"><input class="login-button" type="submit" value="Actualizar Proyecto"></td>
				</tr>
			</table>
		</form>
	</div>
	<br><br><br><br>
	{% include './footer2.html' %}
</body>
	{% include './scripts.html' %}
</html>