

<section class="parallax services" id="services">
		<br><br><br><br><br>
		<div class="row row2">
			<div class="col-md-offset-1 col-md-11">
				{% if request.session.language == "english" %}
				    <h1 class="title">Services</h1>
				{% else %}
				    <h1 class="title">Servicios</h1>
				{% endif %}
				
			</div>
			<br>
		</div>
		
		<div class="row row2">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<section class="parallax owl-carousel owl-theme" id="inicio">

					{% for service in services %}
					{% if service.2.active %}
					{% if service.2.linkstatus %}
						<a href="/services/{{service.2.id}}/show">
						 <div class="item" id="foto1">
							<p class="services2">{{service.2.serviceNameS}}</p>
						 	{% if service.2.imageSlider %}
						 	<img class="carrouselPic" src="/../static/images/{{service.2.imageSlider}}" alt="">
						 	{% else %}
							<img class="carrouselPic" src="/../static/images/noimage.png" alt="">
						 	{% endif %}
						 </div>
						</a>
					{% else %}
						<div class="item" id="foto1">
							<p class="services2">{{service.2.serviceNameS}}</p>
						 	{% if service.2.imageSlider %}
						 	<img class="carrouselPic" src="/../static/images/{{service.2.imageSlider}}" alt="">
						 	{% else %}
							<img class="carrouselPic" src="/../static/images/noimage.png" alt="">
						 	{% endif %}
						 </div>
					{% endif %}
					{% endif %}
					{% endfor %}
					

				</section>
			</div>
			<div class="col-md-1"></div>
		</div>
		<br><br><br>
		{% for service in services %}
		{% if service.2.active %}
		{% if service.0 %}
		<div class="row row2">
			<div class="col-md-2"></div>
		{%endif%}
		{% if service.2.linkstatus %}
			<a href="/services/{{service.2.id}}/show">
			<div class="col-md-2 service">
				<h3 class="titleService">
					{{service.2.serviceName}}:
				</h3>
				<p class="contentService">
					{{service.2.content1}}
				</p>
				{% if service.2.imageMenu %}
				<img class="servicePic" src="../static/images/{{service.2.imageMenu}}" alt="">
				{% else %}
				<img class="servicePic" src="../static/images/noimage.png" alt="">
				{% endif %}
			</div>
			</a>
			
		{% else %}
			<div class="col-md-2 service">
				<h3 class="titleService">
					{{service.2.serviceName}}:
				</h3>
				<p class="contentService">
					{{service.2.content1}}
				</p>
				{% if service.2.imageMenu %}
				<img class="servicePic" src="../static/images/{{service.2.imageMenu}}" alt="">
				{% else %}
				<img class="servicePic" src="../static/images/noimage.png" alt="">
				{% endif %}
			</div>
						
		{% endif %}
		{% if service.1 %}
			<div class="col-md-2"></div>
			</div>

			<br>
		{% endif %}
		{% endif %}
		{% endfor %}




		<br><br><br><br><br>
		
	</section>